ion-toolbar {
    --background: #3880ff;
    --color: white;
  }
  
  ion-button {
    --background: #3880ff;
    --color: white;
  }
  
  ion-item {
    --background: #f8f9fa;
    --color: #495057;
  }