<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Edit Product</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="product">
    <ion-card-header>
      <ion-card-title>Product Details</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="updateProduct()">
        <ion-item lines="full">
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="product.name" name="name"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Description</ion-label>
          <ion-input [(ngModel)]="product.description" name="description"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" color="primary">Update</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>