<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of cartService.getItems()">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Price: ${{item.price}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-button expand="full" color="danger" (click)="cartService.clearCart()">Clear Cart</ion-button>
  <ion-button expand="full" routerLink="/checkout">Proceed To Checkout</ion-button>
</ion-content>