<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>User Profile</ion-title>
    </ion-toolbar>
    <div class="profile-info">
      <ion-avatar>
        <ion-img src="https://via.placeholder.com/150"></ion-img>
      </ion-avatar>
      <div *ngIf="user">
        <p>Email: {{ user.email }}</p>
        <p>Account Type: {{ user.accountType }}</p>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/home" routerDirection="root">
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/cart" routerDirection="root">
          <ion-label>Checkout</ion-label>
        </ion-item>
        <ion-item routerLink="/dashboard" routerDirection="root">
          <ion-label>Dashboard</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>