ion-toolbar {
    --background: #3880ff;
    --color: white;
  }
  
  ion-button {
    --background: #3880ff;
    --color: white;
  }
  
  .error-message {
    color: red; 
    text-align: center;
  }
  
  .center-text {
    text-align: center;
  }