<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let review of reviews">
      <ion-label>
        <h2>{{ review.productName }}</h2>
        <p>{{ review.comment }}</p>
        <ion-icon *ngFor="let i of [].constructor(review.rating); let last = last" name="star" [color]="last ? 'medium' : 'primary'"></ion-icon>
      </ion-label>
      <form (ngSubmit)="replyToReview(review, replyInput?.value?.toString() || '')">
        <ion-input #replyInput type="text" placeholder="Write a reply..."></ion-input>
        <ion-button type="submit">Reply</ion-button>
      </form>
      <ion-item *ngFor="let reply of review.replies">
        <ion-label>Reply: {{ reply }}</ion-label>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>