#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.product-list {
  padding: 16px;
}

.product-list-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.product-card {
  display: inline-block;
  margin-right: 16px;
  flex: 0 0 auto;  // This line ensures that the cards don't shrink and cause overflow
  width: 200px;  // Adjust this value as needed
  scroll-snap-align: start;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 16px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  color: #888;
}

.add-to-cart-button {
  margin-left: auto;
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: x mandatory;

  @media (max-width: 600px) {  // 600px is a common breakpoint for mobile devices
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    &::-webkit-scrollbar { 
      display: none; /* For Chrome, Safari and Opera */
    }
  }
}