<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center large-font">PB Hub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="product-list">
    <div>
      <ion-label class="product-list-title padding center" color="danger">Product Of The Day</ion-label>
      <ion-card class="productOfTheDay" (click)="openProductDetails(productOfTheDay[0], 'productOfTheDay')">
        <img [src]="productOfTheDay[0].image" alt="{{productOfTheDay[0].name}}">
      </ion-card>
      <ion-label class="product-list-title padding center" color="danger">
        <h2 class="product-name">{{productOfTheDay[0].name}}</h2>
      </ion-label>
      <ion-label class="product-list-title padding center" color="danger">
        <p class="product-name">${{productOfTheDay[0].price}}</p>
      </ion-label>
    </div>
    <br>
    <ion-label class="product-list-title padding">Popular</ion-label>
    <ion-list>
      <div class="scroll-container">
        <ion-card *ngFor="let product of product_Popular" class="product-card" (click)="openProductDetails(product, 'popular')">
          <img [src]="product.image" alt="{{product.name}}" class="product-image"/>
          <ion-label>
            <h2 class="product-name">{{product.name}}</h2>
            <p class="product-price">${{product.price}}</p>
          </ion-label>
        </ion-card>
      </div>
      </ion-list>
      <ion-list>
      <ion-label class="product-list-title padding">Popular</ion-label>
        <div class="scroll-container">
          <ion-card *ngFor="let product of Product_Trending" class="product-card" (click)="openProductDetails(product, 'trending')">
            <img [src]="product.image" alt="{{product.name}}" class="product-image"/>
            <ion-label>
              <h2 class="product-name">{{product.name}}</h2>
              <p class="product-price">${{product.price}}</p>
            </ion-label>
          </ion-card>
        </div>
      </ion-list>
  </div>
</ion-content>